.main{
    display: grid;
    max-width: 1100px;
    min-height: 85vh;
    margin: 0 auto;
    margin-top: 5vh;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: min-content;
    grid-gap: 50px;
}

.picture{
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    height: 600px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    background-color: white;
}

.picture > img{
    width: 100%;
    height: 85%;
}

.picture > .list-prod-img{
    width: 100%;
    height: 12%;
    margin-top: calc(600px*3/100);
    display: flex;
    justify-content: space-between;
}

.prod-img, .prod-img-plus{
    width: 20%;
    height: 100%;
    cursor: pointer;
}

.prod-img-plus{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: white;
}

.prod-img-plus:hover{
    background-color: black;

}

.info{
    grid-column-start: 3;
    grid-column-end: 6;
    height: 600px;
    background-color: white;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.main-info{
    height: 30%;
}

.main-info > h1{
    font-size: 36px;
    margin-bottom: 10px;
}

.main-info > p{
    font-size: 30px;
}

.avg-star{
    color: orange;
    margin-top: 10px;
    font-size: 32px;
}

.warranty{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40%;
    margin: 20px 0;
}

.warrant{
    font-size: 24px;
}

.warrant > i{
    color: blue;
}

.description{
    grid-column-start: 1;
    grid-column-end: 6;
    height:fit-content;
    background-color: white;
    line-height: 1.6;
    padding: 20px;
    padding-top: 0;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.description >h1{
    margin-bottom: 30px;
}

.description img{
    max-width: 100%;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 10%;
}

.btn > button{
    margin-top: 5%;
    width: 40%;
    height: 100%;
    font-size: larger;
    border-radius: 10px;
    border: none;
    color: white;
}

.buy-btn{
    background-color: rgba(255, 0, 0, 0.7);
}

.buy-btn:hover{
    box-shadow: 2px 2px 5px red;
    cursor: pointer;
}

.add-btn{
    background-color: rgba(0, 128, 0, 0.7);
}

.add-btn:hover{
    box-shadow: 2px 2px 5px green;
    cursor: pointer;
}

.evaluations{
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: white;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.write-comment{
    margin: 20px 0;
    border: 1px solid black;
    padding: 10px;
    padding-bottom: 50px;
    position: relative;
}

.write-comment p{
    font-size: 20px;
    margin-bottom: 20px;
}

.stars{
    margin: 20px 0;
}

.star{
    cursor: pointer;
}

.write-comment textarea{
    width: 100%;
    resize: none;
    padding: 5px;
    border-color: rgba(0, 0, 0, 0.2);
}

.write-comment textarea:focus{
    outline-color: rgba(0, 0, 0, 0.3);
}

.cmt-btn{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 25px;
    background-color: orange;
    border: none;
    cursor: pointer;
    color: white;
}

.cmt-btn:hover{
    border: 1px solid orange;
    background-color: white;
    color: orange;
}

.user-comment{
    display: flex;
    align-items: flex-start;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.user-comment > p , .evaluate{
    display: inline-block;
}

.user-comment > p{
    width: 25%;
    font-size: 18px;
}

.comment{
    font-size: 18px;
    margin-top: 10px;
}

.evaluate{
    padding-left: 20px;
    border-left: 1px solid rgba(128, 128, 128, 0.5);
}

.checked{
    color: orange;
}

.bg-slide{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    justify-content: center;
    flex-direction: row;
}

.wrap-slide{
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrap-slide *{
    background-color: white;
    height: 100%;
    height: 80%;
}

.img-slide{
    width: 50%;
}

.img-slide >img{
    width: 100%;
    height: 100%;
    display: none;
}

.left-slide, .right-slide{
    display: flex;
    align-items: center;
    width: 10%;
    background-color: rgba(128, 128, 128, 0.6);
}

.enable-hover:hover{
    background-color: grey;
}

.left-slide > i, .right-slide > i{
    display: flex;
    width: 80px;
    height: 80px;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 50%;
    background-color: rgb(94,94,94);
    color: white;
}

.cancel-slide{
    margin: 30px;
    font-size: 50px;
    cursor: pointer;
}


